body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #timer {
    margin-top: 200px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  #countdown {
    font-size: 48px;
    margin-top: 20px;
  }
  